<div class="container map">
    <h1 class="title is-2">Look for your project</h1>
  <agm-map [latitude]="40.4167278" [longitude]="-3.7033387000000175">
    <div *ngFor="let location of locations">
        <agm-marker *ngIf="location.localizacion"  [latitude]="location.localizacion[0]" [longitude]="location.localizacion[1]">
          <agm-info-window [disableAutoPan]="true">
          <a [routerLink]="['/places',location._id]">{{location.localizacion}}</a>
         </agm-info-window>
        </agm-marker>
    </div>
  </agm-map>
</div>
