<app-navbar></app-navbar>

<div *ngIf="user">
  <img src="{{user.imageURL}}" alt="">
  <h3>{{user.username}}</h3>
  <p>{{user.email}}</p>

  <button type="button" name="button" (click)="remove(user._id)">delete user</button>
  <button type="button" name="button" (click)="showForm()">EDIT</button>
  <div *ngIf="show">
    <h1> Edit User </h1>
    <form (ngSubmit)="editUser(user._id, myForm)" #myForm="ngForm">
      <label> Email </label>
      <input type="text" [(ngModel)]="email" name="email"/>
      <label> Username </label>
      <input type="text" [(ngModel)]="username" name="username"/>

      <button type="submit"> Edit user </button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>
</div>
