<div *ngIf="place">
  <img height="300" [src]="place.imageURL" />
  <h3>{{place.localizacion}}</h3>
  <p>{{place.pdescription}}</p>
  <p>Creator: {{place.creatorId}}</p>
  <button type="button" name="button" (click)="remove(place._id)">delete place</button>
  <button type="button" name="button" (click)="showForm()">EDIT</button>
  <div *ngIf="show">
    <h1> Edit Place </h1>
    <form (ngSubmit)="editPlace(place._id, myForm)" #myForm="ngForm">
      <label> Personal Description </label>
      <input type="text" [(ngModel)]="pdescription" name="pdescription" />
      <button type="submit"> Edit place </button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>

  <button (click)="createFavorite(place._id)">Favorite</button>
  <button (click)="createGeoInfo()"> Discover the invisible </button>
  <div *ngIf="showGeoInfo">
    <div *ngIf="maps">
      <li *ngFor="let map of maps">

        <app-prueba [coordinates]="place.localizacion" [wmsURL]="map.wmsURL" [layerWMS]="map.layer" [index]="map.index"></app-prueba>
        <!-- <leafletBaselayers [coordinates]="place.localizacion">
        </leafletBaselayers> -->
      </li>
    </div>
  </div>
</div>
<!-- <header id="top" class="header container-fluid">

</header> -->


<!-- <div class="top-content image-detail" style="position: relative; z-index: 0; ">
  <app-navbar></app-navbar>
  <div class="crop">
  <img  class= "chachi-image" width="100%" src="{{ place.imageURL }}" alt="">
</div>
  <div class="inner-bg">
    <div class="container">
      <div class="row">

        <div class="col-sm-7 adjust-height text wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <h1>Promote <strong>Your App</strong> With <i class="fa fa-bullseye"></i> <br>Get it now!</h1>
          <div class="description">
holi holi holi
          </div>
          <div class="top-big-link">
            <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="btn btn-link-1">Download it</a>
            <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank" class="btn btn-link-2 scroll-link">Learn more</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- </div> -->
