<div *ngIf="place">
  <img height="300" [src]="place.imageURL" />
  <h3>{{place.localizacion}}</h3>
  <p>{{place.pdescription}}</p>
  <p>Creator: {{place.creatorId}}</p>
  <button type="button" name="button" (click)="remove(place._id)">delete place</button>
  <button type="button" name="button" (click)="showForm()">EDIT</button>
  <div *ngIf="show">
    <h1> Edit Place </h1>
    <form (ngSubmit)="editPlace(place._id, myForm)" #myForm="ngForm">
      <label> Personal Description </label>
      <input type="text" [(ngModel)]="pdescription" name="pdescription" />
      <button type="submit"> Edit place </button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>

  <button (click)="createFavorite(place._id)">Favorite</button>
  <button (click)="createGeoInfo()"> Discover the invisible </button>
  <div *ngIf="showGeoInfo">

      <ul *ngIf="maps">
        <li *ngFor="let map of maps">
          <leafletBaselayers [coordinates]="place.localizacion" [title]="map.title" [description]="map.description" [wmsURL]="map.wmsURL" [layer]="map.layer" [legend]="map.legend"></leafletBaselayers>
        </li>
      </ul>

  </div>
</div>
