<!-- <div class="top-content image-detail" style="position: relative; z-index: 0; "> -->

<div *ngIf="place" class="box image-detail" style="position: relative; z-index: 0;">
  <img width="100%" [src]="place.imageURL" />
  <app-navbar></app-navbar>
</div>
<h3>{{place.locateDegree}}</h3>
<!-- <p>{{place.pdescription}}</p> -->
<!-- <p>Creator: {{place.creatorId}}</p> -->
<div class="btn-group" role="group" aria-label="...">
  <button type="button" name="button" class="btn btn-default" (click)="remove(place._id)">DELETE</button>
  <button type="button" name="button" class="btn btn-default" (click)="showForm()">EDIT</button>
  <div *ngIf="show">
    <h1> Edit Place </h1>
    <form (ngSubmit)="editPlace(place._id, myForm)" #myForm="ngForm">
      <label> Personal Description </label>
      <input type="text" [(ngModel)]="pdescription" name="pdescription" />
      <button type="submit"> Edit place </button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>

  <button class="btn btn-default" (click)="createFavorite(place._id)">
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
</button>
</div>
<div class="">
  <button class="btn btn-link-yo" (click)="createGeoInfo()"> Discover the invisible </button>
</div>
<div *ngIf="showGeoInfo" class="chart">
  <div *ngIf="maps">
    <div *ngFor="let map of maps">
      <div class="row3">
        <div class="boxy">
          <app-prueba [coordinates]="place.localizacion" [wmsURL]="map.wmsURL" [layerWMS]="map.layer" [index]="map.index" [zoom]="map.zoom"></app-prueba>
        </div>
        <div class="legend-box">
          <h3>{{ map.title }}</h3>
          <div class="boxy-leg">
            <img [src]="map.legendURL" alt="" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
