<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <nav role="navigation" class="navbar navbar-inverse navbar-no-bg black">
    <div class="container black ">
      <div class="navbar-header black">
        <button data-target="#top-navbar-1" data-toggle="collapse" class="navbar-toggle collapsed black" type="button">
							<span class="sr-only black">Toggle navigation</span>
							<span class="icon-bar black"></span>
							<span class="icon-bar black"></span>
							<span class="icon-bar black"></span>
						</button>
        <a href="/home" class="navbar-brand black"><i class="fa fa-bullseye"></i></a>
        <a href="/home"><span class="main-name black">ATLAS OF LANDSCAPES</span></a>
      </div>
      <div id="top-navbar-1" class="collapse navbar-collapse black">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/atlas" class="scroll-link">Atlas</a></li>
          <li><a href="/new" class="scroll-link">Upload a photo</a></li>
          <li><a href="#how-it-works" class="scroll-link">How it works</a></li>
          <li><a href="#" class="scroll-link">My Profile</a></li>
          <li><a href="/login" class="scroll-link">Login</a></li>
          <li><a href="/signup" class="scroll-link">Signup</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- [routerLink]="['/user', session.user._id]" -->

<!-- <h3> Atlas of landscapes </h3> -->

<div class="container">
  <div class="row block">
    <div *ngIf="(places)">
      <div *ngFor="let place of places" class="col-sm-6 col-md-4">
        <a [routerLink]="['/places',place._id]" class="thumbnail boxy">
        <img class="imageFade" src="{{ place.imageURL }}" alt="..." >
        <div class="overlayFade">
          <div class="textFade"> <h6>  {{ place.locateDegree }}  </h6> </div>
        </div>
      </a>
        <!-- <div class="caption"> -->
        <!-- <h6> <a href="#"> {{ place.locateDegree }}  </a> </h6> -->
        <!-- <p>{{ place.pdescription }}</p> -->
        <!-- <a [routerLink]="['/places', place._id]" class="btn btn-primary" role="button">View Details</a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

<app-general-map></app-general-map>

<footer class="text-center bck_gray">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social_icon_list">
            <li><a class="fb_icon" target="_blank" href="https://www.facebook.com/teresa.torrijos.garcia"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twit_icon" target="_blank" href="https://twitter.com/teresatorrijos"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="#" class="gogle_plus_icon"><i class="fa fa-google-plus"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/teresatorrijos/" class="vimeo_icon"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12 mar_bot_top_ten">
          <br> © <i class="fa fa-bullseye"></i> 2017. Design by
          <a href="https://www.facebook.com/teresa.torrijos.garcia" title="gurdeeposahan" target="_blank">Tetis</a>
        </div>
      </div>
    </div>
  </div>
</footer>
