body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.block {
  margin-top: 20px;
}

.thumbnail {
  border: 0px;
  margin: 40px 10px 0px 10px;;
}

h3 {
  font-size: 33px;
}

.navbar-inverse {
  color: black;
}
