body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.thumbnail {
  border: 0px;
  margin: 40px 10px 0px 10px;;
}

.block {
  margin-top: 60px;
}

h3 {
  font-size: 33px;
}

.black {
  color: black;
}

.navbar-inverse ul.navbar-nav li a {
  color: black;
}

.navbar-inverse ul.navbar-nav li a:focus {
  color: black;
}

.navbar-inverse ul.navbar-nav li a:hover {
  color: black;
}
