
<h1> Create a new place </h1>
<a [routerLink]="['']"> Back to home </a>

<form class="col s12">

    <input id="file-input" type="file" name="file" (change)="fileChangeEvent($event)" ng2FileSelect [uploader]="uploader" />

    <label> Personal Description </label>
    <input type="text" [(ngModel)]="newPlace.pdescription" name="pdescription"/>

    <label> Tags </label>
    <input type="text" #tag />
    <button (click)="addTag(tag.value); tag.value = ''"> Add </button>

    <ul>
      <li *ngFor="let tag of newPlace.tags"> {{ tag }} </li>
    </ul>
    <small *ngIf="!newPlace.tags.length"> This photo has no tags :( </small>



  <button type="button" (click)="submit()"> Submit </button>
</form>

<p> {{ feedback }} </p>
